* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 1;
  overflow-x: hidden;
}
/*-------------------------------------------*/
/* Heading Component */
/*-------------------------------------------*/
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.1;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.sub-heading {
  color: #e67e22;
  font-size: 1.6rem;
  font-weight: 500;
  display: block;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.7px;
}
/* Button Components */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-weight: 600;
}
.btn-right-sm {
  margin-right: 1.6rem !important;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
  transition: all 500ms;
  font-weight: 700;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
  transition: all 1s;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* border: 3px solid #fff; */
  box-shadow: inset 0 0 0 3px #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: #b8651d;
}
.btn-form {
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: #2e1907;
  color: #fae5d3;
  align-self: end;
  transition: all 800ms;
}
.btn-form:hover {
  background-color: #fff;
  color: #555;
}
/* Grids Components */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.grid--center--v {
  align-items: center;
}
.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5--cols {
  grid-template-columns: repeat(5, 1fr);
}
strong {
  font-weight: 600;
}
/* Tags Components */
.tags {
  margin-bottom: 1.2rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.link {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  padding-bottom: 0.2rem;
  transition: all 400ms;
}
.link:hover {
  color: #cf711f;
  border-bottom: none;
}
/* List Components */
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
.center-text {
  text-align: center;
}
