/* width 1344px     ( 1344 / 16 = 84 ) */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* width 1200px  ( 1200 / 16 = 75 ) */
@media (max-width: 75em) {
  html {
    /* font-size: 9px */
    font-size: 56.5%;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .gird {
    /* row-gap: 6.4rem; */
    column-gap: 4.8rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
}
/* width 950px */
@media (max-width: 59em) {
  html {
    /* font-size: 8px; */
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
  }

  .img-hero {
    width: 60%;
  }
  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }
  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .logos img {
    height: 2.4rem;
  }
  .step-number {
    font-size: 7.4rem;
  }
  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
  .section-testimonial {
    display: grid;
    grid-template-columns: 1fr;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .pricing {
    width: 90%;
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .btn-form {
    margin-top: 1.2rem;
  }
  .icon-mobile-nav {
    display: block;
  }
  .main-nav {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s;
    transform: translateX(100%);
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}
/* width 700px */
@media (max-width: 44em) {
  .grid--3--cols,
  .grid--4--cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .diet {
    grid-column: 1/-1;
    justify-self: center;
  }
  .heading-secondary {
    margin-bottom: 4.6rem;
  }
  .pricing {
    width: 100%;
  }
  .grid-footer {
    grid-template-columns: repeat(3, 1fr);
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }
  .address-col,
  .logo-col {
    grid-column: span 3;
  }
}
/* Width 550 px */
@media (max-width: 34em) {
  .grid--2--cols,
  .grid--3--cols,
  .grid--4--cols {
    grid-template-columns: 1fr;
  }
  .gird {
    padding: 0 3.2rem;
  }
  .section-hero {
    padding: 2.4rem 0 4.8rem 0;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
  .img-hero {
    width: 80%;
  }
  .logos img {
    height: 1.2rem;
  }
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }
  .cta-text-box {
    padding: 3.2rem;
  }
}
