/* 
--- 01 Typography system
- Font-size (px) 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font-weight
heading-primary: 700;

-Line Height
default : 1
heading-primary: 1.1;

-Font Family
Google Font : 'Ruvik'
default: snas-serif;

--- 02 Color
-Primary : #e67e22
-Tints   : #fdf3e9
-Shades  : #b8651b
-Accents
-Grays : #555, #333;

--- 03 Shadow


--- 04 Border Radius
default : 9px;

--- 05 White Space



-Spacing system
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128



*/

/*-------------------------------------------*/
/* Header Component */
/*-------------------------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf3e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 2.2rem;
}
/*-------------------------------------------*/
/* Navigation */
/*-------------------------------------------*/
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.main-nav-link:visited,
.main-nav-link:link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  display: inline-block;
  transition: all 0.3s;
}
.main-nav-link:active,
.main-nav-link:hover {
  color: #cf711f;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: #fff;
  background-color: #e67e22;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
}
.main-nav-link.nav-cta:active,
.main-nav-link.nav-cta:hover {
  background-color: #b8651d;
}
/* Sticky Navigation */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 999;

  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;

  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.3);
}
/* Mobile Navigation */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
}
.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #333;
  display: none;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
/*-------------------------------------------*/
/* Hero Section */
/*-------------------------------------------*/
.section-hero {
  background-color: #fdf3e9;
  padding: 4.8rem 0 9.6rem 0;
}
.sticky .section-hero {
  margin-top: 9.6rem;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
  padding: 0 3rem;
}
.img-hero {
  width: 100%;
}

.hero-description {
  line-height: 1.5;
  font-size: 2rem;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
}
.delivered-img img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fff;
}
.delivered-img img:last-child {
  margin-right: 0;
}
.delivered-text {
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 1.6rem;
}
.delivered-meals span {
  color: #e67e22;
  font-weight: 700;
}

/*-------------------------------------------*/
/* Feature Section */
/*-------------------------------------------*/
.section-feature {
  padding: 4.8rem 0;
  color: #888;
}
.heading-feature-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.7;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
}
.logos {
  display: flex;
  justify-content: space-between;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
/*-------------------------------------------*/
/* How It work */
/*-------------------------------------------*/
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-img {
  width: 35%;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.step-img-box::before {
  width: 60%;
  /* height: 60px; */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -1;
}
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
/*-------------------------------------------*/
/* Meals Section */
/*-------------------------------------------*/
.section-meals {
  padding: 9.6rem 0;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 400ms;
}
.meal-content {
  padding: 3.2rem 4.8rem;
}
.meal-img {
  width: 100%;
}
.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.8rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  color: #cf711f;
  width: 2.4rem;
  height: 2.4rem;
}

.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #fcc419;
}
.tag--vegetarian {
  background-color: #51cf66;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.all-recipes {
  text-align: center;
  font-size: 0.8rem;
}
.meal:hover {
  transform: translateY(-1.2rem);
}
/*-------------------------------------------*/
/* Testimonial Section */
/*-------------------------------------------*/
.section-testimonial {
  background-color: #fae5d3;
}
.testimonial-container {
  padding: 9.6rem 0;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #777;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.345s;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img:hover {
  transform: scale(1.1);
}
/*-------------------------------------------*/
/* Pricing Section */
/*-------------------------------------------*/
.section-pricing {
  padding: 9.6rem 0;
}
.pricing-plan-complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}
.pricing {
  border-radius: 1.1rem;
  width: 75%;
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.pricing-plan--starter {
  justify-self: end;
  border: 1px solid #fdf2e9;
  padding: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 2.5rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
}
.plan-price span {
  font-size: 3.2rem;
  font-weight: 400;
  margin-right: 0.8rem;
}
.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}
.pricing-plan-complete::after {
  content: "Best Value";
  position: absolute;
  top: 6%;
  right: -18%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #fcc419;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}
/*-------------------------------------------*/
/* Feature Section */
/*-------------------------------------------*/
#margin-top {
  padding: 9.6rem 0;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
}
/*-------------------------------------------*/
/*CTA Section */
/*-------------------------------------------*/
.section-cta {
  padding: 0 0 9.6rem;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #e98b38, #e67e22);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.75);
  border-radius: 11px;
  overflow: hidden;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(233, 139, 56, 0.35),
      rgba(230, 126, 34, 0.35)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}
.cta-text-box {
  color: #2e1907;
  padding: 3.4rem 6.4rem 6.4rem;
}
.cta .heading-secondary {
  color: #2e1907;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}
/*-------------------------------------------*/
/*Footer Section */
/*-------------------------------------------*/
.footer {
  border-top: 3px solid #777;
  padding: 3.6rem 0;
}
.grid-footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
  margin-top: 3.2rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}
.social-link {
  display: flex;
  list-style: none;
  gap: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #333;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.contact {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
}
